@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  background-color: #1a202c;
  color: white;
}

@font-face {
  font-family: "Grotesk";
  src: url(./fonts/RightGrotesk-WideMedium.otf);
}
@font-face {
  font-family: "Nenu";
  src: url(./fonts/NeueMontreal-Medium.otf);
}
@font-face {
  font-family: "3rd-font";
  src: url();
}
.text-Grotesk {
  font-family: "Grotesk";
}
.text-Neue {
  font-family: "Nenu";
}
/*dark mode button css*/
